.CSSrules1 {
    background-color: black;
    color: white;
}

.CSSrules2 {
    background-color: blanchedalmond;
    color: black;
}

.CSSrules3 {
    background-color: green;
    color: black;
}

.CSSrules4 {
    background-color: aqua;
    color: black;
}

.CSSrules5 {
    background-color: brown;
    color: black;
}